<!-- your html code here -->
<div class="container">
    <h3>Portfolio</h3>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://live.staticflickr.com/5701/31054332300_29c351958f_w.jpg" class="card-img-top" height="200px">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis eros mauris, vitae imperdiet leo molestie eu. Mauris eu dui leo. Praesent mollis nulla at nibh ultrices aliquet.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://live.staticflickr.com/5701/31054332300_29c351958f_w.jpg" class="card-img-top" height="200px">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis eros mauris, vitae imperdiet leo molestie eu. Mauris eu dui leo. Praesent mollis nulla at nibh ultrices aliquet.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://live.staticflickr.com/5701/31054332300_29c351958f_w.jpg" class="card-img-top" height="200px">
                <div class="card-body">
                    <h5 class="card-title">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent facilisis eros mauris, vitae imperdiet leo molestie eu. Mauris eu dui leo. Praesent mollis nulla at nibh ultrices aliquet.</p>
                </div>
            </div>
        </div>
    </div>
</div>